<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Solr Redirect Page</title>
<meta http-equiv="REFRESH" content="15;url=http://<%= @public_hostname %>:8000/solr/"></HEAD>
<BODY>
This is the solr redirect page. It will redirect you to the application on port 8000.
<a href="http://<%= @public_hostname %>:8000/solr/">Redirect Now</a> 
</BODY>
</HTML>
